<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" id="header">
                        <h4 class="card-title ">Registro de visitas
                            <button mat-raised-button type="submit" (click)="navigateToCreate()" id="cadastrar" class="btn btn-sm pull-right">Cadastrar</button>
                        </h4>
                    </div>
                    <div class="card-body">
              
                       <div class="table-responsive">
                            <table  class="table" >
                                <thead class=" text-primary">
                                    <th> ID </th>
                                    <th> Visitante </th>
                                    <th> Autorização </th>
                                    <th> Porteiro </th>
                                    <th> Data </th>
                                 </thead>
                                <tbody>
                                    <tr *ngFor="let visita of visitas">
                                        <td> {{ visita.id }}</td>                                        
                                        <td> {{ visita.visitante.nome }} </td>
                                        <td> {{ visita.autorizacao }} </td>
                                        <td> {{ visita.cadastro }} </td>
                                        <td> {{ visita.data }} </td>                                        
                                    </tr>
                                </tbody>  
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
            
    </div>
  </div> 
  
</div>  