<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" id="header">
                      <h4 class="card-title ">Visitantes
                        <button mat-raised-button type="submit" [routerLink]="['/user-profile']" id="cadastrar" class="btn btn-sm pull-right">Cadastrar</button>
                      </h4>                      
                  </div>
                  <div class="card-body">
            
                     <div class="table-responsive">
                          <table  class="table" >
                              <thead class=" text-primary">
                                  <th> ID </th>
                                  <th> Nome </th>
                                  <th> CPF </th>
                                  <th> Telefone </th>
                                  <th> Endereço </th>
                                  <th> Veículo </th>
                                  <th> Placa </th> 
                                  <th id="acoes"> Ações </th>
                               </thead>
                              <tbody>
                                  <tr *ngFor="let visitante of visitantes">
                                      <td> {{ visitante.id }}</td>
                                      <td> {{ visitante.nome }} </td>
                                      <td> {{ visitante.cpf }} </td>
                                      <td> {{ visitante.telefone }} </td>
                                      <td> {{ visitante.endereco }} </td>
                                      <td> {{ visitante.veiculo }} </td>
                                      <td> {{ visitante.placa }} </td>
                                      <td>  
                                       <button mat-raised-button type="submit" id="editar" [routerLink]="['/visitantes/editar/',visitante.id]" class="btn btn-sm pull-right">Editar</button>
                                       <button mat-raised-button type="submit"  id="deletar" (click)="deletar(visitante.id)" class="btn btn-sm pull-right">Deletar</button>
                                      </td>
                                  </tr>
                              </tbody>  
                          </table>
                      </div> 
                  </div>
              </div>
          </div>
          
  </div>
</div> 

