<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" id="header">
                        <h4 class="card-title ">Moradores
                            <button mat-raised-button type="submit" [routerLink]="['/residentes']" id="cadastrar" class="btn btn-sm pull-right">Cadastrar</button>
                        </h4>
                    </div>
                    <div class="card-body">
              
                       <div class="table-responsive">
                            <table  class="table" >
                                <thead class=" text-primary">
                                    <th> ID </th>
                                    <th> Nome </th>
                                    <th> CPF </th>
                                    <th> Telefone </th>
                                    <th> Endereço </th>
                                    <!-- <th> Casa </th> -->
                                    <th> Bloco </th> 
                                    <th> Número </th>
                                    <!-- <th> Ações </th> -->
                                 </thead>
                                <tbody>
                                    <tr *ngFor="let residente of residentes">
                                        <td> {{ residente.id }}</td>
                                        <td> {{ residente.nome }} </td>
                                        <td> {{ residente.cpf }} </td>
                                        <td> {{ residente.telefone }} </td>
                                        <td> {{ residente.endereco }} </td>
                                        <!-- <td> {{ residente.casa }} </td> -->
                                        <td> {{ residente.bloco }} </td>
                                        <td> {{ residente.numero }} </td>
                                        <td> <button mat-raised-button type="submit" id="editar" [routerLink]="['/residentes/editar/',residente.id]" class="btn btn-sm pull-right">Editar</button>
                                            <button mat-raised-button type="submit"  id="deletar" (click)="deletar(residente.id)" class="btn btn-sm pull-right">Deletar</button> 
                                        </td>
                                    </tr>
                                </tbody>  
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
            
    </div>
  </div> 
  
  