<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Residentes Cadastrados</h4>
                    </div>
                    <div class="card-body">
              
                       <div class="table-responsive">
                            <table  class="table" >
                                <thead class=" text-primary">
                                    <th> ID </th>
                                    <th> Nome </th>
                                    <th> CPF </th>
                                    <th> Telefone </th>
                                    <th> Endereço </th>
                                    <th> Casa </th>
                                    <th> Bloco </th> 
                                    <th> Número </th>
                                 </thead>
                                <tbody>
                                    <tr *ngFor="let residente of residentes">
                                        <td> {{ residente.id }}</td>
                                        <td> {{ residente.nome }} </td>
                                        <td> {{ residente.cpf }} </td>
                                        <td> {{ residente.telefone }} </td>
                                        <td> {{ residente.endereco }} </td>
                                        <td> {{ residente.casa }} </td>
                                        <td> {{ residente.bloco }} </td>
                                        <td> {{ residente.numero }} </td>
                                        <td> <button mat-icon-button [routerLink]="['/residentes/editar/',residente.id]"><mat-icon>edit</mat-icon> </button> 
                                         <button mat-icon-button (click)="deletar(residente.id)"> <mat-icon>delete</mat-icon> </button></td>
                                    </tr>
                                </tbody>  
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
            
    </div>
  </div> 
  
  