#card-icone {
    background-color: #19A7CE;
}

#unidades {
    background-color: #FF6969
}

#veiculos{
    background-color: #B8E7E1
}

#blocos {
    background-color: #FFD3B0
}

#header-visitas{
    background-color: #A6D0DD;
}