<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            
              <div class="card card-stats">
                  <div class="card-header card-header-icon">
                      <div class="card-icon" id="card-icone">
                          <i class="material-icons">groups</i>
                      </div>
                      <p class="card-category">Moradores</p>
                      <!-- <h3 class="card-title">49/50
                          <small>GB</small>
                      </h3> -->
                  </div>

                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a>
                      </div> -->
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-icon">
                      <div class="card-icon" id="blocos">
                          <i class="material-icons">grid_view</i>
                      </div>
                      <p class="card-category">Blocos</p>
                      <h3 class="card-title">XXX</h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-icon">
                      <div class="card-icon" id="unidades">
                          <i class="material-icons">home</i>
                      </div>
                      <p class="card-category">Unidades</p>
                      <h3 class="card-title">10</h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-icon">
                      <div class="card-icon" id="veiculos">
                        <i class="material-icons">directions_car</i>
                      </div>
                      <p class="card-category">Veículos</p>
                      <h3 class="card-title">XXX</h3>
                  </div>
                  <div class="card-footer">
                      <!-- <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div> -->
                  </div>
              </div>
          </div>
      </div>

      <!-- <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Sales</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Tasks</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs" id="header-visitas">
                    <h4 class="card-title">Últimas visitas</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                  </div>

                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                              <table class="table">
                                  <tbody>
                                      <tr *ngFor="let visitante of visitantes">
  
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td> {{ visitante.nome }}</td>
                                          <td> {{ visitante.cpf }} </td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      
                                  </tbody>
                              </table>

                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Ocorrências</h4>
                      <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Descrição</th>
                              <th>Data</th>
                              <th>Nome</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Morador do bloco C jogando bola no jardim.</td>
                                  <td>2023-04-25</td>
                                  <td>Valquer Rafael</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Apartamento 9 está fazendo barulho após o horário.</td>
                                  <td>2023-04-27</td>
                                  <td>Pedro Paulo</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>O vizinho do 304 está enchendo o saco com barulho.</td>
                                  <td>2023-04-30</td>
                                  <td>Pablo</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
